/* main.css
 * CS 4241 - Webware
 * Final Project
 * Students: Robert McKenna / Lucas Ruiz Lebrao
 * Title: Quick Food Parser
 * Description: something
 */

body
{
 background-color: #FFFFFF;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
  text-decoration: none;
  margin: 0px 20px 0px 20px;
  cursor: pointer;
}

a:hover {
    background: yellow;
  }

.container {
  /* Flex */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
}

.item {
  /* Flex */
  flex-basis: auto;
  align-self: center;

}

.right {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-self: flex-end;
}

.clearfix {
  clear: both;
}

#page-container { }

#page-header {
  /* Flex */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  /* Spacing */
  margin-right: 30px;
}

#header-base { }

#header-container { }

#header-logo {
  /* Flex */
  order: 1;
  flex-basis: auto;
  align-self: auto;
  flex-grow: 1;

  /* Font */
  font: 32px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
<<<<<<< HEAD
=======
  position: relative;
>>>>>>> development
  height: 26px;
  margin-right: 15px;
  color: #333;
  text-decoration: none;
  background-color: transparent;
}

<<<<<<< HEAD
=======
#header-search {
  margin-top: 0px;
  display: block;
}

#header-search FORM {
  position: relative;
  width: 360px;
  margin-right:10px;
}

#header-search INPUT {
  background: none;
  border: 0;
  box-shadow: none;
  min-height: 22px;
  display: inline-block;
  font-size: 12px;
  padding: 3px 5px;
  line-height: 16px;
  width: 250px;
}

>>>>>>> development
#header-leftnav {
  /* Flex */
  order: 2;
  flex-basis: auto;
  align-self: center;
  flex-grow: 2;
}

#header-leftnav UL {

}

#header-leftnav LI {
  display: inline;
  padding: 0 0 0 1em;
}

#header-rightnav {
<<<<<<< HEAD
  /* Flex */
  order: 3;
  flex-basis: auto;
  align-self: center;
=======
  margin-top: -3px;
  margin-bottom: -3px;
  box-sizing: border-box;
}

.clearfix {
  clear: both;
=======
/* main.css
 * CS 4241 - Webware
 * Final Project
 * Students: Robert McKenna / Lucas Ruiz Lebrao
 * Title: Quick Food Parser
 * Description: something
 */

body
{
  background-color: #FFFFFF;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
>>>>>>> development
>>>>>>> development
}
