/* main.css
 * CS 4241 - Webware
 * Final Project
 * Students: Robert McKenna / Lucas Ruiz Lebrao
 * Title: Quick Food Parser
 * Description: something
 */
body{
  background-color: grey;

}

#header-rightnav{
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  margin:30px 10% -10px 10%;
}

#header-logo{
  text-decoration: none;
  color:inherit;
}
#header-logo h1{
  border-bottom:2px solid grey;
  margin:0px 5px 5px 5px;
}

.header-nav-btn{
  background: white;
  padding:20px;
  margin-left:3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#page-body{
    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin:0px 10% 0px 10%;
    padding:10px;
}

#searchForm{
  margin:30px;
}

.ingredient-container{
  align-items: center;
  margin-left: 30%;
  margin-right:30%;
}
#recipeInfoContainer{
  margin-top: 50px;
}
#recipeInfoContainer ul{
  text-align: left;
  align-self: center;
}
