.recipeSearchResult{
  display:flex;
  flex-direction: row;
  margin:10px;
  border: solid 2px;
  overflow: hidden;
}

.recipeTitle{
  margin: 0px 10px 5px 10px;
}

.recipeImage{
  width:200px;
  height: 200px;
}
.recipeImage img{
  width:100%;
  height:auto;
}

.cookingTime{

}
